<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILNumerics" version="4.8.0.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="ILNumerics.Native" version="3.2.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="OpenTK" version="2.0.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="UrhoSharp.Forms" version="1.1.214" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xam.Plugin.Geolocator" version="4.2.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xam.Plugin.SimpleAudioPlayer" version="1.0.2" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="2.3.0.107" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>